
.ticker-wrap {
  overflow: hidden;
  box-sizing: content-box;
  
  .ticker {
    display: inline-block;
    white-space: nowrap;
    box-sizing: content-box;
    .ticker__item {
      display: inline-block;
      width: auto;
    }
  }
}
