.handle {
    cursor: move;
    user-select: none;
}

.color-preview {
    width: 25px;
    height: 25px;
    border: 0;
    margin: 0 10px;
    border-radius: 5px!important;
}

.input-group {
    border-bottom: 1px solid #555;
    margin-bottom:5px!important
}
.option-number
{
    width:35px;
}
input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 5px!important;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    padding: 0;
    border-radius: 5px!important;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
    padding: 0;
    border-radius: 5px!important;
  }
  .color-picker{
    -webkit-appearance: none;
    width:25px;
    height: 25px;
    border-radius:5px!important;
    border:none;
    padding: 0;
    margin-right:2px;
  }
  .btn-primary{
    background-color: #5684FD;
    --bs-btn-bg:#5684FD;
    --bs-btn-border-color:#5684FD;
    --bs-btn-hover-bg:#6984ff;
    --bs-btn-hover-border-color:#6984ff;
    border-radius:20px;
  }
  #wheel-config{
    height: 360px;
    overflow-y: auto;
    margin-bottom:0 !important;
  }

/* The emerging W3C standard that is currently Firefox only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,.1) rgba(0,0,0,0.5);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);
  border-radius: 6px; /* This gives the rounded edge to the scrollbar */

}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.1);
  border-radius: 20px;
  border: 3px solid rgba(0,0,0,0.5);
}
.dropdown-toggle::after {
  display: none; /* Hide the dropdown triangle */
}

.dropdown-toggle {
  background-color: transparent;
  color: #fff; /* adjust as necessary */
  border: none;
  align-self: flex-start; /* Align to the top of the row */
  line-height: 0;
  padding-top: 0;
  margin-top:-14px;
}

.dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active {
  background-color: transparent; /* Removes the grey rollover and active state */
    color: #fff; /* Keeps the color consistent during hover, focus and active state */
    outline: none; /* Removes outline during focus and active state */
    box-shadow: none; /* Removes box-shadow during focus and active state */

}
.dropdown-toggle:focus:not(:active) {
  box-shadow: none; /* Removes box-shadow when button is focused but not pressed */
  outline: 0; /* Removes outline when button is focused but not pressed */
}
.btn-secondary{
  --bs-btn-active-bg:transparent
}
.warn
{
  color:#ff4545;
}
textarea {
  resize: none;
}
.align-items-center {
  align-items: center;
}
a{
  cursor:pointer;
}